<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>SmartBudget2</string>
	<key>CFBundleIdentifier</key>
	<string>com.smartbudgetapp.sb2</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-60@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Smart Budget Database Backup</string>
			<key>UTTypeIdentifier</key>
			<string>com.smartbudgetapp.sb2backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>sb2backup</string>
				<key>public.mime-type</key>
				<string>application/vnd.com.smartbudgetapp.sb2backup</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Smart Budget 2 Database Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.smartbudgetapp.sb2backup</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-72@2x</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.smartbudgetapp.sb2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smartbudgetapp</string>
			</array>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>2.1.1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
</dict>
</plist>
